#start-screen, #playing-screen {
    display: flex;
    justify-content: center;
    align-items: center;
}
#start-screen{
    display: flex;
    flex-direction: column;
}

#playing-screen {
    display: none;
    flex-direction: column;
}

#boards-container {
    display: flex;
    gap: 20px;
    flex-direction: column;
}

#computer-board,
#player-board{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
}
#ship-container{
    
}

#win-lose-popup {
    display: none;
    position: fixed;
    top: 250px;
    left: 40%;
    width: 200px;
    height: 100px;
    z-index: 1000;
    background: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
  }
#win-lose-popup > h1 {
    display: flex;
    align-self: center;
    justify-self: center;
}
#win-lose-popup > button {
    display: flex;
    align-self: center;
    justify-self: center;
}
#game-log {
    width: 250px;
    height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
    word-wrap: break-word;
  }
body { 
    display: flex;
    align-items: center;
    justify-content: center;
}
.subcontainer{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.cell {
    width: 40px;
    height: 40px;
    border: 1px solid black;
    cursor: pointer;
}

.ship-cell {
    background: gray;
}
.ship-piece{
    background: gray; 
    border: 1px solid black; 
    box-sizing: border-box;
}

.hit {
    background: red;
}

.miss {
    background: blue;
}
.water{
    background: darkblue;
    border: 1px solid black;
}
.ghost-cell {
    outline: 3px solid limegreen;
    outline-offset: -3px;
}